
        <div class="inventory-item consumable">
          <div class="item-icon" data-lfr-editable-id="inv-icon" data-lfr-editable-type="text">🧪</div>
          <div class="item-info">
            <span class="item-name" data-lfr-editable-id="inv-name" data-lfr-editable-type="text">Item Name</span>
            <span class="item-quantity">x<span data-lfr-editable-id="inv-quantity" data-lfr-editable-type="text">1</span></span>
            <span class="item-type"><span data-lfr-editable-id="inv-type" data-lfr-editable-type="text">type</span></span>
          </div>
        </div>